mat-card{
  width: 500px;
  margin: 100px auto;
  text-align: center;
  mat-form-field{
    width: 100%;
  }
  buttom{
    width: 200px;
    height: 50px;
    font-size: 1rem;
  }
  .error-message {
    text-align: left;
    margin-bottom: 10px;
    color: red;
  }
}

